<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      
    </div><br>
  
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      <div *ngIf="passwordForm.hasError('mismatch')">
        Passwords do not match.
      </div>
    </div><br>
  
    <button type="submit" [disabled]="passwordForm.valid">Submit</button>
  </form>
